@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 145 100% 10%;

    --card: 0 0% 100%;
    --card-foreground: 145 100% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 145 100% 10%;

    --primary: 145 100% 16%;
    --primary-foreground: 0 0% 98%;

    --secondary: 145 30% 96%;
    --secondary-foreground: 145 70% 15%;

    --muted: 145 10% 96%;
    --muted-foreground: 145 10% 40%;

    --accent: 145 30% 96%;
    --accent-foreground: 145 70% 15%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 145 20% 90%;
    --input: 145 20% 90%;
    --ring: 145 100% 16%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 145 50% 5%;
    --foreground: 145 10% 98%;

    --card: 145 50% 5%;
    --card-foreground: 145 10% 98%;

    --popover: 145 50% 5%;
    --popover-foreground: 145 10% 98%;

    --primary: 145 100% 16%;
    --primary-foreground: 0 0% 98%;

    --secondary: 145 30% 15%;
    --secondary-foreground: 145 10% 98%;

    --muted: 145 30% 15%;
    --muted-foreground: 145 10% 70%;

    --accent: 145 30% 15%;
    --accent-foreground: 145 10% 98%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 145 10% 98%;

    --border: 145 30% 20%;
    --input: 145 30% 20%;
    --ring: 145 100% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

